<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">November in Wales is likely to be wet and a little chilly. We suggest you bring some stout shoes and an umbrella.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Its festival clothing! Seriously though, wear whatever you want - we are!</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">You'll need to make your own way to and from the venue. Let us know if this is a problem and we can help.</p>
            <h4 class="service-heading">Where can I eat nearby?</h4> 
            <p class="largepad text-muted"><a class="link" href="Old White Hart">https://oldwhitehart.uk/</a></p>
            <p class="largepad text-muted"><a class="link" href="The Cwtch">https://the-cwtch.co.uk/</a></p>
            <p class="largepad text-muted"><a class="link" href="Illtuds Restaurant">http://www.illtuds216.co.uk/home</a></p>
            <h4 class="service-heading">Where can I have breakfast on Sunday</h4>
            <p class="largepad text-muted"><a class="link" href="Cwtch Cafe, Acorn Camping">http://www.acorncamping.co.uk/cwtch-cafe/</a></p>
            <h4 class="service-heading">Does my ticket include a plus one or children?</h4>
            <p class="largepad text-muted">One ticket per person! Please exchange it for a lanyard when you arrive. Your lanyard will show which table you are on.</p>
            <h4 class="service-heading">When and how should I RSVP?</h4>
            <p class="largepad text-muted">Please email rsvp@monstersofwedrock.co.uk by the 7th July.</p>
            <h4 class="service-heading">Do I need to bring a gift?</h4>
            <p class="largepad text-muted">No! If you would like to contribute then please consider a donation to <a class="link" href="English Springer Spanial Welfare">https://www.essw.co.uk/</a></p>
            <h4 class="service-heading">What if I feel unwell?</h4>
            <p class="largepad text-muted">To protect our VIP OAPs, please dont come if you feel poorly. You dont want to be patient zero do you? We'll make it up to you somehow!</p>
        </div>
    </div>
</section>