<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">November in Wales is likely to be wet and a little chilly. We suggest you bring some stout shoes and an umbrella.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Its festival clothing! Seriously though, wear whatever you want - we are!</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">You'll need to make your own way to and from the venue. Let us know if this is a problem and we can help.</p>
        </div>
    </div>
</section>