<!-- Where To Stay Section -->
<section id="stay" class="bg-darkest-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where To Stay</h2>
                <h3 class="section-subheading text-muted">Several types of self-catering accomodation are available at Rosedew farm. There is enough accomodation for everyone to stay onsite (with sharing and bunk-ups!).</h3>
                <h3 class="section-subheading text-muted">Let Izzi and Mark know what you'd like to do in your <a class="link" href="mailto:rsvp@monstersofwedrock.co.uk">RSVP</a> e.g if you want to stay Friday and Saturday night, just Saturday night, or if you dont need a room and we will contact you to work out a plan. If you'd like to stay in the area longer, here are some details of local accomodation.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Acorn Camping
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Camp site</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Acorn Camping & Caravan Park, Ham Lane South, Llantwit Major, Vale of Glamorgan, CF611RP</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">01446 794024</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a class="link" href="http://www.acorncamping.co.uk/">Acorn Camping</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue: 2 mins walk</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        The White Lion
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Pub and Lodgings</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">East St, Llantwit Major CF61 1XY, UK</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">01446 792240</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a class="link" href="http://www.whitelionandoasthouselodge.com">The White Lion</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue: 5 mins drive</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        AirBnB
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Various nearby AirBnB locations</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Various</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Various</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a class="link" href="https://www.airbnb.co.uk/s/Llantwit-Major--Wales--United-Kingdom/homes?adults=2&place_id=ChIJy70zOLUMbkgR6oSHXSKwlco">AirBnB</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue</span>
                            </li>
                            <li><br></li>
                        </ul>   
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>