<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <h3 class="section-subheading text-muted">The Barn at Rosedew Farm is a rural and rustic wedding venue set on the beautiful Welsh coastline. The Cwtch is a smaller area to the side of the barn, which holds the one-of-a-kind corrugated metal bar, dresser and some comfy chairs and sofas for guests to relax in! Accommodation is available immediately adjacent to the Barn for the night before and the night of the wedding. Camping or glamping is also available ring 01446 794024 or email info@acorncamping.co.uk.</h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://maps.google.com/maps?q=rosedew%20farm,%20&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>